# **DNF F1 analasys project**

## Part 1 - Loading and maipulating data

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Loading data and prining out head & shape ###

In [ ]:
#Importing data to dataframe
<<<<<<< local
data = pd.read_csv('data.csv')
print(data.head(1).to_string() ,"\n")
print("Shape of daraframe: ", data.shape)
=======
raw_data = pd.read_csv('data.csv')
print(raw_data.head().to_string())
print("Shape: ", raw_data.shape)
>>>>>>> remote

<<<<<<< local

   resultId  raceId  year  round  grid  positionOrder  points  laps milliseconds fastestLap rank fastestLapTime fastestLapSpeed  driverRef    surname forename         dob nationality_x constructorRef         name nationality_y   circuitRef  circuitId   name_y  location  country      lat      lng  alt        date  target_finish
0      2460     136  2002     13    11              4     3.0  77.0          NaN         \N   \N             \N              \N  raikkonen  Räikkönen     Kimi  1979-10-17       Finnish        mclaren  Hungaroring       British  hungaroring         11  McLaren  Budapest  Hungary  47.5789  19.2486  264  2002-08-18              1

Shape of daraframe:  (10000, 31)

=======

   resultId  raceId  year  round  grid  positionOrder  points  laps milliseconds fastestLap rank fastestLapTime fastestLapSpeed        driverRef     surname forename         dob nationality_x constructorRef                          name nationality_y     circuitRef  circuitId        name_y    location  country      lat        lng  alt        date  target_finish
0      2460     136  2002     13    11              4     3.0  77.0          NaN         \N   \N             \N              \N        raikkonen   Räikkönen     Kimi  1979-10-17       Finnish        mclaren                   Hungaroring       British    hungaroring         11       McLaren    Budapest  Hungary  47.5789   19.24860  264  2002-08-18              1
1     11565     483  1981      1    23             21     0.0  16.0           \N         \N   \N             \N              \N           watson      Watson     John  1946-05-04       British        mclaren                    Long Beach       British     long_beach         43       McLaren  California      USA  33.7651 -118.18900   12  1981-03-15              0
2     18661     772  1958      8     0             26     0.0   0.0           \N         \N   \N             \N              \N          ruttman     Ruttman     Troy  1930-03-11      American       maserati                   Nürburgring       Italian    nurburgring         20      Maserati     Nürburg  Germany  50.3356    6.94750  578  1958-08-03              0
3     25121    1058  2021      8    19             16     0.0  69.0           \N         57   16       1:10.005         222.052  mick_schumacher  Schumacher     Mick  1999-03-22        German           haas                 Red Bull Ring      American  red_bull_ring         70  Haas F1 Team   Spielberg  Austria  47.2197   14.76470  678  2021-06-27              0
4      8863     383  1988     12     0             30     0.0   0.0           \N         \N   \N             \N              \N           modena      Modena  Stefano  1963-05-12       Italian       eurobrun  Autodromo Nazionale di Monza       Italian          monza         14     Euro Brun       Monza    Italy  45.6156    9.28111  162  1988-09-11              0
Shape:  (10000, 31)

>>>>>>> remote

<span style="color:red"><b><<<<<<< local</b></span>

As we can see, we have 10 000 rows/cars and 31 columns/features. A lot of these columns have NULL, NAN
 or \N values, we therefore have to remove these to get the desired features that can be used in our models.

<span style="color:red"><b>=======</b></span>

### Print overview of columns containing NA values, and dropping using 90% threshold ###

<span style="color:red"><b>>>>>>>> remote</b></span>

In [ ]:
<<<<<<< local

# Count columns that contains either NaN, '\N' or 'NULL'
null_counts = (data.isna() | data.eq('\\N') | data.eq('NULL')).sum()

print(null_counts.sort_values(ascending=False))
print("Columncount:  ",len(data.columns))
=======
# Make sure other types of missing data is also registered as missing data
missing_markers = ['\\N', 'NULL', 'null', ''] 
raw_data = raw_data.replace(missing_markers, np.nan)

nullValues = raw_data.isnull().sum()
print("Rows with NA and NA count: ")
print(nullValues[nullValues > 0])
print("\nShape with 90% threshold for dropping column:")
thresh = round(0.9*raw_data.shape[0])
trimmed_raw_data = raw_data.dropna(axis=1, thresh=thresh)
print(trimmed_raw_data.shape)
print(trimmed_raw_data.columns)
>>>>>>> remote

<<<<<<< local

milliseconds       7393
fastestLapSpeed    7191
fastestLap         6895
fastestLapTime     6895
rank               6798
laps                978
points              971
circuitRef            0
circuitId             0
name_y                0
location              0
country               0
resultId              0
name                  0
lat                   0
lng                   0
alt                   0
date                  0
nationality_y         0
forename              0
constructorRef        0
nationality_x         0
dob                   0
raceId                0
surname               0
driverRef             0
positionOrder         0
grid                  0
round                 0
year                  0
target_finish         0
dtype: int64
Columncount:   31

=======

Rows with NA and NA count:
points              971
laps                978
milliseconds       7393
fastestLap         6895
rank               6798
fastestLapTime     6895
fastestLapSpeed    7191
dtype: int64

Shape with 90% threshold for dropping column:
(10000, 26)
Index(['resultId', 'raceId', 'year', 'round', 'grid', 'positionOrder',
       'points', 'laps', 'driverRef', 'surname', 'forename', 'dob',
       'nationality_x', 'constructorRef', 'name', 'nationality_y',
       'circuitRef', 'circuitId', 'name_y', 'location', 'country', 'lat',
       'lng', 'alt', 'date', 'target_finish'],
      dtype='object')

>>>>>>> remote

(10000, 30)

<span style="color:red"><b><<<<<<< local</b></span>

We decide to remove the first 7 since they are leakage columns, meaning they will give our prediction away too easily.

In [32]:
leakage_cols = [
    "milliseconds",
    "fastestLapSpeed",
    "fastestLap",
    "fastestLapTime",
    "rank",
    "laps",
    "points"
  
]

data = data.drop(columns=leakage_cols , axis =1)

print("Columncount:  ", len(data.columns))

Columncount:   24

Now our dataset consists of 24 columns. We need to remove "target_finish", as this is what we are trying to predict

In [33]:
#Remove target_finish, leading to 23 remaining columns
data = data.drop("target_finish", axis = 1)
print("Columncount:  ", len(data.columns))

Columncount:   23

In [34]:
data.columns

Index(['resultId', 'raceId', 'year', 'round', 'grid', 'positionOrder',
       'driverRef', 'surname', 'forename', 'dob', 'nationality_x',
       'constructorRef', 'name', 'nationality_y', 'circuitRef', 'circuitId',
       'name_y', 'location', 'country', 'lat', 'lng', 'alt', 'date'],
      dtype='object')

We are now left with 25 columns. Let us analyse further what columns are actually beneficial for our dnf prediction:

Column decisions 

- resultId: **DROP**  – Unique ID, no predictive value

- raceId: **DROP** – Unique ID, not useful

- circuitId: **DROP** – Redundant with circuitRef

**Race metadata**

- year: **KEEP** – DNF rates vary between seasons

- round: **KEEP** – Early/late season influences DNF

- date: **KEEP** – Weather/season patterns

- country: **KEEP** – Conditions differ across countries

**Driver & team**

- driverRef: **KEEP** – Stable driver ID, good for OHE

- surname: **DROP** – High cardinality, redundant

- forename: **DROP** – High cardinality, redundant

- dob: DROP – **Raw date**, weak predictor

- nationality_x: **DROP** – Weak signal

- constructorRef: **KEEP** – Team strongly impacts DNF

- nationality_y: **DROP** – Team nationality irrelevant

**Performance stats**

- grid: **KEEP** – Starting position affects crash risk

- positionOrder: **DROP** – Leakage (reveals final result)

**Circuit info**

- circuitRef: **KEEP** – Tracks differ in DNF probability

- name: **DROP** – Duplicate of circuitRef

- name_y: **DROP** – Another duplicate

- location: **DROP** – Text field, not useful

**Geographical**

- lat: **DROP** – Raw coordinate not meaningful

- lng: **DROP** – Same as above

In [35]:
keep_cols = [
    'year', 'round', 'grid', 'points',
    'driverRef', 'constructorRef',
    'circuitRef', 'country', 'alt', 'date',
    'target_finish'
]


existing_cols = [c for c in keep_cols if c in data.columns]

data = data[existing_cols]

print("Columns kept:", existing_cols)
print("New shape:", data.shape)

Columns kept: ['year', 'round', 'grid', 'driverRef', 'constructorRef', 'circuitRef', 'country', 'alt', 'date']
New shape: (10000, 9)

In [36]:
# Count columns that contains either NaN, '\N' or 'NULL'
null_counts = (data.isna() | data.eq('\\N') | data.eq('NULL')).sum()

print(null_counts.sort_values(ascending=False))
print("Columncount:  ",len(data.columns))

year              0
round             0
grid              0
driverRef         0
constructorRef    0
circuitRef        0
country           0
alt               0
date              0
dtype: int64
Columncount:   9

We now have to find out what columns are objects or strings, since our prediction models only can use numbers to interpret the data.

In [38]:
string_cols = data.select_dtypes(include=['object', 'string']).columns.tolist()
print(string_cols)

['driverRef', 'constructorRef', 'circuitRef', 'country', 'date']

In [39]:
#Ammount of unique values for our string features
unique_counts = data[string_cols].nunique()
print(unique_counts)

driverRef          677
constructorRef     174
circuitRef          77
country             35
date              1125
dtype: int64

As we can see, using one-hot encoding here will not work since we will get way to many new features - 2073 to be precise.

We can start by turning date into: year, month, day

In [40]:
data['date'] = pd.to_datetime(data['date'])
data['month'] = data['date'].dt.month
data['day'] = data['date'].dt.day

# DROP date after extracting features
data = data.drop(columns=['date'])


print(data.columns)
print("New shape: ", data.shape)

Index(['year', 'round', 'grid', 'driverRef', 'constructorRef', 'circuitRef',
       'country', 'alt', 'month', 'day'],
      dtype='object')
New shape:  (10000, 10)

Let us use frequency encoding on the 4 other columns. We will get values between 0-1 based on how often they appear. An example is Hamilton = 1000/9029 = 0.11075423635.

In [41]:
# Find all categorial columns (object)
cat_cols = data.select_dtypes(include=['object']).columns
print("Categorical columns:", cat_cols)

# Frequency encode each column
for col in cat_cols:
    freq = data[col].value_counts(normalize=True)   # normalized frequency
    data[col] = data[col].map(freq)

data.head()

Categorical columns: Index(['driverRef', 'constructorRef', 'circuitRef', 'country'], dtype='object')

,year,round,grid,driverRef,constructorRef,circuitRef,country,alt,month,day
0,2002,13,11,0.0144,0.0728,0.0362,0.0362,264,8,18
1,1981,1,23,0.0064,0.0728,0.0090,0.0787,12,3,15
2,1958,8,0,0.0005,0.0170,0.0356,0.0716,578,8,3
3,2021,8,19,0.0015,0.0151,0.0330,0.0335,678,6,27
4,1988,12,0,0.0039,0.0041,0.0678,0.0977,162,9,11

LETS GO! Our dataset is finished and we can now move onto part 2, training our models!

## Part 2 - Training models

In [385]:
data.head(100)

,year,round,grid,points,driverRef,constructorRef,circuitRef,country,alt,month,day
0,2002,13,11,3.0,0.014730,0.072987,0.037324,0.037324,264,8,18
1,1981,1,23,0.0,0.006313,0.072987,0.009414,0.079189,12,3,15
2,1958,8,0,0.0,0.000332,0.016281,0.035884,0.072323,578,8,3
3,2021,8,19,0.0,0.001551,0.014952,0.033448,0.034002,678,6,27
4,1988,12,0,0.0,0.003987,0.004098,0.068668,0.099568,162,9,11
...,...,...,...,...,...,...,...,...,...,...,...
103,1991,8,20,0.0,0.002547,0.022594,0.052941,0.073873,153,7,14
104,1994,10,9,1.0,0.005205,0.025473,0.037324,0.037324,264,8,14
105,1974,13,7,9.0,0.004098,0.033337,0.068668,0.099568,162,9,8
106,2009,17,3,8.0,0.007753,0.031233,0.013291,0.013291,3,11,1
107,1975,7,21,0.0,0.000111,0.003655,0.004873,0.004873,153,6,8

<span style="color:red"><b>=======</b></span>

### Further feature selection ###
Some columns have leakage features, meaning they have a 1-1 correlation with what we try to predict.These need to be removed as they will make the predictions too "easy". Some of these are also measurements made after after the target value is measured, and therefore don't have any predictive power. E.g. "positionOrder" and "points", which are based upon whether the driver finishes the race or not. <br>
Will keep features 'year', 'round', 'grid', 'constructorRef', 'circuitRef', 'alt', 'date' as well as 'target_finish' <br>
Reasons one by one: <br><br>

##### Id's #####
- resultId: DROP – not useful

- raceId: DROP – not useful

- circuitId: DROP – Redundant with circuitRef

##### Race metadata #####

- year: KEEP – DNF rates may vary over the years

- round: KEEP – Early/late season influences DNF

- date: KEEP – Weather/season patterns

- country: DROP - redundant with circuitRef

##### Driver & team #####

- driverRef: DROP - High cardinality, too sparse. Data of retired drivers unuseful for future drivers

- surname: DROP – same reason as driverRef

- forename: DROP – same reason as driverRef

- dob: DROP – weak predictor

- nationality_x: DROP – Weak predictor

- constructorRef: KEEP – Team strongly impacts DNF

- nationality_y: DROP – irrelevant / redundant to constructorRef

##### Performance stats #####

- grid: KEEP – Starting position affects crash risk

- positionOrder: DROP – Leakage (reveals final result)

##### Circuit info #####

- circuitRef: KEEP – Tracks differ in DNF probability

- name: DROP – Duplicate of circuitRef

- name_y: DROP – Another duplicate

- location: DROP – Text field, not useful

##### Geographical #####

- lat: DROP – Raw coordinate not meaningful

- lng: DROP – Same as above

- alt: KEEP - altitude of tracks may be predicitive

In [4]:
keep_cols = [
    'year', 'round', 'grid', 'constructorRef',
    'circuitRef', 'alt', 'date',
    'target_finish'
]
clean_data = trimmed_raw_data[keep_cols]
print("Shape:", clean_data.shape)
print("Features:",clean_data.columns)

Shape: (10000, 8)
Features: Index(['year', 'round', 'grid', 'constructorRef', 'circuitRef', 'alt', 'date',
       'target_finish'],
      dtype='object')

### Dropping rows with NA values (redundant as columns containing NA are removed already) ###

<span style="color:red"><b>>>>>>>> remote</b></span>

In [5]:
<<<<<<< LOCAL CELL DELETED >>>>>>>
clean_data = clean_data.dropna()
print("Shape after dropping rows with NA values and columns with >90% NA values:\n",clean_data.shape)

Shape after dropping rows with NA values and columns with >90% NA values:
 (10000, 8)

### Printing out describtion of dataframe, and ranked correlation between numerical features for analysis ###

In [6]:
<<<<<<< LOCAL CELL DELETED >>>>>>>
print(clean_data.describe().to_string())
print("\nCorrelation between numerical features and target_finish ranked on abs value")
print(clean_data.corr(numeric_only=True)['target_finish'].sort_values(key=abs, ascending=False)[1:])

               year         round          grid           alt  target_finish
count  10000.000000  10000.000000  10000.000000  10000.000000   10000.000000
mean    1991.466600      8.540100     11.176200    281.465900       0.289500
std       20.060237      5.085487      7.241008    414.586363       0.453553
min     1950.000000      1.000000      0.000000     -7.000000       0.000000
25%     1977.000000      4.000000      5.000000     18.000000       0.000000
50%     1991.000000      8.000000     11.000000    153.000000       0.000000
75%     2009.000000     12.000000     17.000000    401.000000       1.000000
max     2024.000000     24.000000     34.000000   2227.000000       1.000000

Correlation between numerical features and target_finish ranked on abs value
grid    -0.344964
year     0.276936
round    0.123115
alt     -0.043222
Name: target_finish, dtype: float64

### Handling 'object' values ###

Will use a reduced One Hot Encoding. Let the top 10 most common values per feature be one hot encoded, place all other values under a group called 'other...'

Then convert date to month, and OHE it

In [7]:
clean_data["date"] = pd.to_datetime(clean_data["date"]).dt.month
clean_data = clean_data.rename(columns={"date":"month"})

In [8]:
top_10_constructorRefs = clean_data['constructorRef'].value_counts().nlargest(10).index

print("The Top 10 constructorRefs are:", list(top_10_constructorRefs))

# Replace country if not in top 10 with 'Other'
clean_data['constructorRef'] = clean_data['constructorRef'].apply(
    lambda x: x if x in top_10_constructorRefs else 'other_const'
)

The Top 10 constructorRefs are: ['ferrari', 'mclaren', 'williams', 'sauber', 'team_lotus', 'tyrrell', 'red_bull', 'renault', 'ligier', 'brabham']

In [9]:
top_10_circuitRef = clean_data['circuitRef'].value_counts().nlargest(10).index

print("The Top 10 circuitRef are:", list(top_10_circuitRef))

# Replace country if not in top 10 with 'Other'
clean_data['circuitRef'] = clean_data['circuitRef'].apply(
    lambda x: x if x in top_10_circuitRef else 'other_circ'
)

The Top 10 circuitRef are: ['monza', 'monaco', 'silverstone', 'spa', 'villeneuve', 'hungaroring', 'nurburgring', 'hockenheimring', 'interlagos', 'red_bull_ring']

### Dataset before OHE ###

In [10]:
print(clean_data.head().to_string())

   year  round  grid constructorRef     circuitRef  alt  month  target_finish
0  2002     13    11        mclaren    hungaroring  264      8              1
1  1981      1    23        mclaren     other_circ   12      3              0
2  1958      8     0    other_const    nurburgring  578      8              0
3  2021      8    19    other_const  red_bull_ring  678      6              0
4  1988     12     0    other_const          monza  162      9              0

In [11]:
from sklearn.preprocessing import OneHotEncoder

cat = ["constructorRef", "circuitRef", "month"]
enc = OneHotEncoder()
enc.fit(clean_data[cat])
cat_data = enc.transform(clean_data[cat]).toarray()

cat_df = pd.DataFrame(data = cat_data, columns = enc.get_feature_names_out(), index = clean_data.index)
encoded_data = clean_data.join(cat_df).drop(columns = cat)

# Dropped to avoid linear dependencies 
encoded_data = encoded_data.drop(columns=["circuitRef_other_circ", "constructorRef_other_const", "month_12"])

### Dataset after OHE ###

In [12]:
print(encoded_data.head().to_string())
print(encoded_data.shape)
print(encoded_data.columns)

   year  round  grid  alt  target_finish  constructorRef_brabham  constructorRef_ferrari  constructorRef_ligier  constructorRef_mclaren  constructorRef_red_bull  constructorRef_renault  constructorRef_sauber  constructorRef_team_lotus  constructorRef_tyrrell  constructorRef_williams  circuitRef_hockenheimring  circuitRef_hungaroring  circuitRef_interlagos  circuitRef_monaco  circuitRef_monza  circuitRef_nurburgring  circuitRef_red_bull_ring  circuitRef_silverstone  circuitRef_spa  circuitRef_villeneuve  month_1  month_2  month_3  month_4  month_5  month_6  month_7  month_8  month_9  month_10  month_11
0  2002     13    11  264              1                     0.0                     0.0                    0.0                     1.0                      0.0                     0.0                    0.0                        0.0                     0.0                      0.0                        0.0                     1.0                    0.0                0.0               0.0                     0.0                       0.0                     0.0             0.0                    0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      1.0      0.0       0.0       0.0
1  1981      1    23   12              0                     0.0                     0.0                    0.0                     1.0                      0.0                     0.0                    0.0                        0.0                     0.0                      0.0                        0.0                     0.0                    0.0                0.0               0.0                     0.0                       0.0                     0.0             0.0                    0.0      0.0      0.0      1.0      0.0      0.0      0.0      0.0      0.0      0.0       0.0       0.0
2  1958      8     0  578              0                     0.0                     0.0                    0.0                     0.0                      0.0                     0.0                    0.0                        0.0                     0.0                      0.0                        0.0                     0.0                    0.0                0.0               0.0                     1.0                       0.0                     0.0             0.0                    0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      1.0      0.0       0.0       0.0
3  2021      8    19  678              0                     0.0                     0.0                    0.0                     0.0                      0.0                     0.0                    0.0                        0.0                     0.0                      0.0                        0.0                     0.0                    0.0                0.0               0.0                     0.0                       1.0                     0.0             0.0                    0.0      0.0      0.0      0.0      0.0      0.0      1.0      0.0      0.0      0.0       0.0       0.0
4  1988     12     0  162              0                     0.0                     0.0                    0.0                     0.0                      0.0                     0.0                    0.0                        0.0                     0.0                      0.0                        0.0                     0.0                    0.0                0.0               1.0                     0.0                       0.0                     0.0             0.0                    0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      1.0       0.0       0.0
(10000, 36)
Index(['year', 'round', 'grid', 'alt', 'target_finish',
       'constructorRef_brabham', 'constructorRef_ferrari',
       'constructorRef_ligier', 'constructorRef_mclaren',
       'constructorRef_red_bull', 'constructorRef_renault',
       'constructorRef_sauber', 'constructorRef_team_lotus',
       'constructorRef_tyrrell', 'constructorRef_williams',
       'circuitRef_hockenheimring', 'circuitRef_hungaroring',
       'circuitRef_interlagos', 'circuitRef_monaco', 'circuitRef_monza',
       'circuitRef_nurburgring', 'circuitRef_red_bull_ring',
       'circuitRef_silverstone', 'circuitRef_spa', 'circuitRef_villeneuve',
       'month_1', 'month_2', 'month_3', 'month_4', 'month_5', 'month_6',
       'month_7', 'month_8', 'month_9', 'month_10', 'month_11'],
      dtype='object')

## Flip values in target_finish ## 
We want to detect DNF, make this our positive

In [13]:
encoded_data['target_dnf'] = 1 - encoded_data['target_finish']
encoded_data = encoded_data.drop(columns=["target_finish"])
print(encoded_data["target_dnf"].value_counts())

target_dnf
1    7105
0    2895
Name: count, dtype: int64

## Data split ##

cutoff_year set to 2015 arbitrarily for now. Can change this, but gives a reasonable split (test size ~15% of dataset)

In [14]:
cutoff_year = 2015

train_data = encoded_data[encoded_data['year'] <= cutoff_year].copy()
test_data  = encoded_data[encoded_data['year'] >  cutoff_year].copy()

X_train = train_data.drop(columns=['target_dnf'])
y_train = train_data['target_dnf']

X_test  = test_data.drop(columns=['target_dnf'])
y_test  = test_data['target_dnf']

print("Training size (X, y):", X_train.shape, ",", len(y_train))
print("Test size (X, y):", X_test.shape, ",", len(y_test))

Training size (X, y): (8550, 35) , 8550
Test size (X, y): (1450, 35) , 1450

Beginning of logistic regression
Starting with finding strong features using Lasso

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
random_seed = 2334

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

feature_extractor = LogisticRegression(penalty='l1', solver='liblinear', random_state=random_seed, C=1)

feature_extractor.fit(X_train_scaled, y_train)

#Threshold 0.05, this gives 19 features with C=1
thresh = 0.05

significant = X_train.columns[abs(feature_extractor.coef_[0])>thresh]
coefficients = feature_extractor.coef_[0][abs(feature_extractor.coef_[0])>thresh]
z = list(zip(significant, coefficients))
z.sort(key=lambda x: abs(x[1]), reverse=True)
significantSorted = [p[0] for p in z]

19

After Lasso has had its way with our features, we are left with 19
We will then test out different subsets of these in conjunction with changing the levels of regularization
To do this we will create a pipeline and use a Grid search

What happens in the following cell
1. We define a list of lists of features. These are selected based on the output of the previous cell, where lasso assigns higher coefficients to features with more predictive power. I try all, then only the significant ones, the 7 best, the best half, best quarter, worst half and then in the end constructors and circuits for fun (might remove these)
2. I define a parametergrid, currently the only parameter is C, which is the amount of lasso-regularization. 
3. I iterate through the different subsets of features, and do gridsearch, with a cv of 5, for each one of them. 
4. We save the best result of each feature-set

In [33]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.compose import ColumnTransformer

print(significantSorted)

#We try all the features, the best half and quarter, as well as the worst half for fun
listsOfFeatures = [
    X_train.columns,
    significantSorted,
    significantSorted[0:7],
    significantSorted[0:len(significantSorted)//2],
    significantSorted[0:len(significantSorted)//4],
    significantSorted[len(significantSorted)//2:-1],
    [s for s in X_train.columns if 'constructorRef' in s],
    [s for s in X_train.columns if 'circuitRef' in s],
]

param_grid = {
    'model__C' : np.logspace(-2, 2, 7),
}


pipe = Pipeline([
    ("scaler", StandardScaler()),
    ("model", LogisticRegression(max_iter=1000, solver='liblinear', penalty='l1', random_state=random_seed))
])


results = {}

for i, features in enumerate(listsOfFeatures):
    X_train_iter = X_train[features]
    grid = GridSearchCV(pipe, param_grid=param_grid, cv=5)
    if i == 6:
        key = f"Feature_Set_constructors_({len(features)} columns)"
    elif i == 7:
        key = f"Feature_Set_circuits_({len(features)} columns)"
    else:
        key = f"Feature_Set_{i+1}_({len(features)} columns)"
    grid.fit(X_train_iter, y_train)


    #Storing results
    results[key] = {
        'best_score': grid.best_score_,
        'best_params': grid.best_params_,
        'features_used': features
    }

for key, res in results.items():
    print(f"**{key}**: Best Score = {res['best_score']:.4f}, Best C = {res['best_params']['model__C']:.4f}")

print(sum(y_train)/len(y_train))

['grid', 'year', 'constructorRef_ferrari', 'constructorRef_mclaren', 'constructorRef_williams', 'circuitRef_nurburgring', 'constructorRef_red_bull', 'circuitRef_monaco', 'constructorRef_ligier', 'month_10', 'constructorRef_renault', 'constructorRef_team_lotus', 'circuitRef_spa', 'circuitRef_interlagos', 'alt', 'constructorRef_tyrrell', 'month_3', 'circuitRef_silverstone', 'circuitRef_villeneuve']
**Feature_Set_1_(35 columns)**: Best Score = 0.8022, Best C = 0.0464
**Feature_Set_2_(19 columns)**: Best Score = 0.8016, Best C = 0.0464
**Feature_Set_3_(7 columns)**: Best Score = 0.8012, Best C = 0.0464
**Feature_Set_4_(9 columns)**: Best Score = 0.8006, Best C = 0.2154
**Feature_Set_5_(4 columns)**: Best Score = 0.7927, Best C = 0.0464
**Feature_Set_6_(9 columns)**: Best Score = 0.7523, Best C = 4.6416
**Feature_Set_constructors_(10 columns)**: Best Score = 0.7588, Best C = 0.0464
**Feature_Set_circuits_(10 columns)**: Best Score = 0.7520, Best C = 0.0100
0.752046783625731